:root {
  --branding-color: #f1003a;
  --heading-font-family: "Roboto", sans-serif;
  --primary-color: white;
  --secondary-color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h2 {
  font-size: 50px;
}
.hero {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  opacity: 80%;
  text-align: center;
  padding: 160px 20px;
  font-weight: bold;
}

.hero h1 {
  font-size: 64px;
  font-family: var(--heading-font-family);
  font-weight: bold;
  margin: 0;
}

.hero h2 {
  font-family: var(--heading-font-family);
  font-weight: normal;
  font-size: 30px;
  line-height: 3;
}

.btn-branding {
  background: var(--branding-color);
  color: white;
  border-radius: 4px;
  font-size: 18px;
  line-height: 50px;
  padding: 12px 20px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.text-center {
  text-align: center;
  padding: 100px 20px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.btn-project {
  background: var(--branding-color);
  color: white;
  border-radius: 4px;
  font-size: 18px;
  line-height: 20px;
  padding: 20px 15px;
  margin: 20px 20px;
  margin: 10px 10px;
  font-size: 15px;
}

@media (max-width: 900px) {
  .hero {
    line-height: 1.5px;
    padding: 25px;
  }

  .text-center {
    padding: 25px;
  }
  .btn-project {
    border-radius: 4px;
    font-size: 15px;
    line-height: 20px;
    padding: 20px 20px;
    margin: 20px 20px;
  }

  .hero h1,
  h1 {
    font-size: 30px;
  }
  .hero h2 {
    font-size: 15px;
  }
  .btn-branding {
    border-radius: 4px;
    line-height: 20px;
    padding: 20px 20px;
    margin: 20px 20px;
    font-size: 10px;
  }

  .images-project {
    text-align: center;
    widht: 200px;
  }
}
