:root {
  --branding-color: #f1003a;
  --heading-font-family: "Roboto", sans-serif;
  --primary-color: white;
  --secondary-color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: bold;
}

.hero {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  opacity: 80%;
  text-align: center;
  padding: 160px 20px;
  font-weight: bold;
}

.hero h1 {
  font-size: 64px;
  font-family: var(--heading-font-family);
  font-weight: bold;
  margin: 0;
}

.hero h2 {
  font-family: var(--heading-font-family);
  font-weight: normal;
  font-size: 24px;
  line-height: 3;
}

.btn-branding {
  background: var(--branding-color);
  color: white;
  border-radius: 4px;
  font-size: 18px;
  line-height: 50px;
  padding: 12px 20px;
}

.text-center {
  text-align: center;
  padding: 100px 20px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.project-image {
  width: 20px;
  margin: 20px 20px 20px;
  padding: 50px 15px;
  text-align: center;
  border-radius: 5px;
  border-style: solid;
  text-align: center;
}

.btn-project {
  background: var(--branding-color);
  color: white;
  border-radius: 4px;
  font-size: 18px;
  line-height: 20px;
  padding: 20px 15px;
  margin: 10px 10px;
  font-size: 15px;
}

.photography-image {
  text-align: center;
}

@media (max-width: 900px) {
  .hero {
    line-height: 1.5px;
    padding: 25px;
  }

  .text-center {
    padding: 25px;
  }
  .btn-project {
    border-radius: 4px;
    font-size: 18px;
    line-height: 20px;
    padding: 20px 20px;
    margin: 20px 20px;
    font-size: 15px;
  }

  .hero h1,
  h1 {
    font-size: 30px;
  }
  .hero h2 {
    font-size: 15px;
  }
  .btn-branding {
    border-radius: 4px;
    font-size: 18px;
    line-height: 20px;
    padding: 20px 20px;
    margin: 20px 20px;
    font-size: 15px;
  }
  .project-image {
    width: 10px;
  }
}
